{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <div class="section">
        <table>
            <thead>
                <tr>
                    <th>Stocks</th>
                    <th>Shares</th>
                    <th>Current Price</th>
                    <th>Total Value</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks %}
                    <tr>
                        <td>{{ stocks.sym }}</td>
                        <td>{{ stocks.shares }}</td>
                        <td>{{ stocks.xprice }}</td>
                        <td>{{ stocks.total }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h5>Cash balance: {{ balance }}</h5>
        <h5>Grand Total: {{ grand_total }}</h5>
    </div>
{% endblock %}
