{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
<div class="section">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Symbol</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ name }}</th>
                <td>{{ price }}</td>
                <td>{{ symbol }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
