.header {
  font-size: 50px;
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: left;
}

header {
  background-color: #192841;
}

body {
  background-image: url('/images/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  background-color: #152238;
  padding: 10px;
  text-align: center;
}
