* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Indie Flower", cursive;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #f4f4f4;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  background-color: #f0f0f0;

  text-align: center;
}

.tiktok {
  width: 250px;
  height: 500px;
}

.container-fluid {
  background-color: #FDAB9F;
  padding: 30px;
}

button {
  font-size: 20px;
  background-color: #f0f0f0;
  border-radius: 25px;
  padding: 12px 30px;
}

#hidden-icon {
  display: none;
  width: 80px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
}
