.header {
  font-size: 50px;
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: left;
}

body {
  background-image: url('/images/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

footer {
  background-color: blue;
  padding: 10px;
  text-align: center;
}
