{% extends "layout.html" %}

{% block register %}

    <form action="/register" method="post">
        <input required autocomplete="off" autofocus name="fname" placeholder="First Name" type="text">
        <input required autocomplete="off" name="sname" placeholder="Last Name" type="text">
        <input required autocomplete="off" name="email" placeholder="Email Address" type="email">

        <!-- TODO: get dob, address, phonenumber-->

        <select name="class">
            <option disabled selected value="">Class</option>
            {% for class in classes %}
                <option value="{{ class }}">{{ class }}</option>
            {% endfor %}
        </select>

        <button type="submit">Register</button>
    </form>

{% endblock %}
