{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <div class="container py-5 text-center">
        <table class="container py-5 text-center">
            <thead>
                <tr>
                    <th>Stocks</th>
                    <th>Shares</th>
                    <th>Current Price</th>
                    <th>Total Value per Stock</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks %}
                    <tr>
                        <td>{{ stock.symbol }}</td>
                        <td>{{ stock.shares }}</td>
                        <td>${{ stock.xprice }}</td>
                        <td>${{ stock.total }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container text-center">
        <h5>Cash balance: ${{ balance }}</h5>
        <h5>Grand Total: ${{ grand_total }}</h5>
    </div>
{% endblock %}
